li {
  list-style-type: none;
}

.main {
  padding: 50px 0;
}

.product {
  border: 1px black solid;
}

// .productImg{
//   width: 100%;
// }

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  flex-basis: calc((100% - 210px) / 7);
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:nth-child(7n)) {
    margin-right: 30px;
  }
  &:hover {
    box-shadow: 1px 2px 4px rgb(0 0 0 / 12%), 0px 2px 2px rgb(0 0 0 / 17%),
      0px 2px 2px rgb(0 0 0 / 30%);
  }
  &:hover .name-container {
    background-color: rgb(219, 121, 121);
  }
}

.productName {
  color: black;
  text-align: center;
}

.productLink {
  text-decoration: none;
}

.img-container {
  height: 160px;
}

.name-container {
  padding: 20px 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkToWebsite {
  text-decoration: none;
}
